<!DOCTYPE html>
<html>
<head>
	<title>Curso vue.js</title>
</head>
<body>
	<div id="app">
		<input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
		<p>Tu nombre en mayusculas es: {{ nombre | uppercase }}</p>

		<form v-on:submit.prevent="submit" action="" method="get">
			<h2>¿Cuales son tus cursos favoritos?</h2>
			<input type="checkbox" id="vue" value="vue" v-model="cursos">
			<label for="vue">Curso de Vue.js</label>
			<input type="checkbox" id="seo" value="seo" v-model="cursos">
			<label for="seo">Curso de SEO</label>
			<input type="checkbox" id="react" value="react" v-model="cursos">
			<label for="react">Curso de React</label>
			<button type="submit">Enviar</button>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				nombre: '',
				cursos: []
			},
			filters: {
				uppercase: function (str){
					return str.toUpperCase()
				}
			},
			methods: {
				submit: function (){
					console.log('se ejecuta metodo submit')
					console.log(this.cursos)
				}
			}
		});
	</script>
</body>
</html>